* {
	font-family: "Raleway", sans-serif;
	font-size: 15px;
}
.custom_container {
	padding: 0 80px;
}
@media (max-width: 992px) {
	.custom_container {
		padding: 0 50px;
	}
}
@media (max-width: 767px) {
	.custom_container {
		padding: 0 30px;
	}
}
@media (max-width: 576px) {
	.custom_container {
		padding: 0 20px;
	}
}
input:focus,
textarea:focus {
	outline: none;
}
.home_btn {
	position: fixed;
	right: 30px;
	bottom: 30px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	color: rgb(124, 171, 209);
}
.home_btn:hover {
	color: rgb(78, 146, 202);
}
.home_btn:hover i {
	transform: rotate(90deg);
	font-size: 45px;
}
.home_btn-up {
	font-size: 35px;
	margin-left: 10px;
	transition: all 0.5s ease;
}
.title {
	color: #061e37;
	font-size: 45px;
	font-weight: 600;
	text-align: center;
}
.subtitle {
	color: #b0bec5;
	font-size: 25px;
	font-weight: 600;
	text-align: center;
	line-height: 16px;
	padding-top: 25px;
}
.description {
	color: #b0bec5;
	line-height: 25px;
	text-align: center;
	max-width: 560px;
	margin: 25px auto 0 auto;
}
.nav {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.nav_list {
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
	flex-wrap: wrap;
}
.nav_item {
	padding: 0 25px;
	opacity: 0.8;
	transition: opacity 0.3s ease;
}
.nav_item:last-child {
	padding-right: 0;
}
@media (max-width: 992px) {
	.nav_item > a {
		font-size: 18px;
	}
}
@media (max-width: 767px) {
	.nav_item > a {
		font-size: 24px;
	}
}
.nav_item:hover {
	opacity: 1;
}
.nav_item > a {
	color: #ffffff;
	font-weight: 600;
}
.promo_sign button {
	margin-left: 25px;
	padding: 6px 20px;
	background-color: transparent;
	border-radius: 2px;
	border: 1px solid #fff;
	color: #ffffff;
	font-size: 12px;
	transition: all 0.3s ease;
}
@media (max-width: 992px) {
	.promo_sign button {
		font-size: 18px;
	}
}
@media (max-width: 767px) {
	.promo_sign button {
		font-size: 24px;
	}
}
@media (max-width: 576px) {
	.promo_sign button {
		font-size: 28px;
	}
}
.header__burger {
	display: none;
}

@media (max-width: 767px) {
	.header__burger {
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
		z-index: 5;
		margin-top: 10px;
	}
	.header__burger span {
		position: absolute;
		background-color: white;
		right: 0;
		width: 100%;
		height: 2px;
		top: 9px;
		transition: all 0.3s ease;
	}
	.header__burger:before,
	.header__burger:after {
		content: "";
		background-color: white;
		position: absolute;
		width: 100%;
		height: 2px;
		right: 0;
		transition: all 0.3s ease;
	}
	.header__burger:before {
		top: 0;
	}
	.header__burger:after {
		bottom: 0;
	}
	.header__burger.active span {
		transform: scale(0);
	}
	.header__burger.active:before {
		transform: rotate(45deg);
		top: 9px;
	}
	.header__burger.active:after {
		transform: rotate(-45deg);
		bottom: 9px;
	}
	.header_nav {
		position: absolute;
		top: -1000%;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		background-color: #061e37;
		z-index: 2;
		transition: all 0.3s ease;
	}
	.header_nav.active {
		top: 0;
	}
	.header_nav_item {
		margin-top: 25px;
		width: 100%;
	}
	body.lock {
		overflow: hidden;
	}
}

.promo {
	background: url(../img/bg/promo-bg.jpg) center center/cover no-repeat;
	min-height: 750px;
	padding: 50px 0;
}
@media (max-width: 992px) {
	.promo {
		padding: 30px 0;
	}
}
header {
	display: flex;
	justify-content: space-between;
	max-height: 120px;
}

.logo_wrap {
	display: flex;
	align-items: center;
}
.logo_wrap img {
	padding-right: 10px;
	z-index: 5;
}
.logo_text {
	color: #ffffff;
	line-height: 15px;
	text-transform: uppercase;
	z-index: 5;
}

.logo_text > span {
	font-weight: 700;
}
@media (max-width: 992px) {
	.logo_text,
	.logo_text > span {
		font-size: 18px;
		line-height: 1;
	}
}
.promo_content {
	display: flex;
	margin-top: 160px;
	justify-content: space-between;
	align-items: center;
}
@media (max-width: 992px) {
	.promo_content {
		margin-top: 80px;
	}
}
@media (max-width: 576px) {
	.promo_content {
		margin-top: 80px;
	}
}
@media (max-width: 320px) {
	.promo_content {
		margin-top: 40px;
	}
}
.promo_text {
	width: 40%;
}
@media (max-width: 992px) {
	.promo_text {
		margin: 0 auto;
		width: 100%;
	}
}
.promo_title {
	color: #ffffff;
	font-size: 55px;
	font-weight: 700;
	line-height: 65px;
	text-transform: uppercase;
}
@media (max-width: 576px) {
	.promo_title {
		font-size: 45px;
		text-align: center;
	}
}
.promo-descr {
	color: #ffffff;
	font-size: 18px;
	line-height: 35px;
	opacity: 0.8;
}
@media (max-width: 576px) {
	.promo-descr {
		text-align: center;
	}
}
.promo_btns {
	margin-top: 38px;
}
@media (max-width: 768px) {
	.promo_btns {
		margin: 38px auto 0 auto;
	}
}
.promo_btn {
	padding: 22px 40px;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
	border-radius: 5px;
	font-weight: 700;
	text-transform: uppercase;
	border: none;
	transition: all 0.3s ease;
}
@media (max-width: 576px) {
	.promo_btn {
		margin: 10px auto;
		width: 100%;
	}
}
.promo_btn_black {
	color: #ffffff;
	background-color: #061e37;
	margin-right: 30px;
}
.promo_btn_white {
	color: #061e37;
	background-color: #ffffff;
}
.promo_btn_black:hover {
	color: #061e37;
	background-color: #ffffff;
}
.promo_btn_white:hover {
	color: #ffffff;
	background-color: #061e37;
}
.promo_video {
	position: relative;
}
.promo_play {
	position: absolute;
	top: calc(50% - 50px);
	left: calc(50% - 75px);
	width: 150px;
	text-align: center;
	color: #061e37;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	cursor: pointer;
}
.promo_video video {
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	border: 1px solid #061e37;
}
@media (max-width: 992px) {
	.promo_video {
		display: none;
	}
}
.promo_play > div {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 60px;
	height: 60px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	background-color: #061e37;
	margin: 0 auto 22px auto;
}
.promo_play > div > i {
	color: white;
}
.useful {
	padding: 100px 0;
	min-height: 800px;
}
@media (max-width: 992px) {
	.useful {
		padding: 80px 0;
	}
}
@media (max-width: 576px) {
	.useful {
		padding: 60px 0;
	}
}
@media (max-width: 320px) {
	.useful {
		padding: 30px 0;
	}
}
.useful_subtitle {
	line-height: 1;
}
.useful_content {
	display: flex;
	justify-content: space-between;
	margin-top: 95px;
	flex-wrap: wrap;
}
@media (max-width: 992px) {
	.useful_content {
		margin-top: 75px;
	}
}
@media (max-width: 576px) {
	.useful_content {
		margin-top: 65px;
	}
}
@media (max-width: 320px) {
	.useful_content {
		margin-top: 55px;
	}
}
.useful_item {
	width: 25%;
}
@media (max-width: 768px) {
	.useful_item {
		width: 40%;
		padding-bottom: 25px;
	}
}
@media (max-width: 568px) {
	.useful_item {
		width: 100%;
		padding-bottom: 25px;
	}
}
.useful_item_title {
	color: #061e37;
	font-size: 20px;
	font-weight: 700;
	text-align: center;
}
.useful_item_descr {
	color: #78909c;
	line-height: 20px;
	text-align: center;
}
.useful_item_icon {
	text-align: center;
}
.useful_item_icon > i {
	font-size: 80px;
	margin-bottom: 40px;
}
.fa-calendar-alt {
	color: #b388ff;
}
.fa-user-astronaut {
	color: #80d8ff;
}
.fa-users-cog {
	color: #ea80fc;
}
.useful_btn {
	display: block;
	width: 150px;
	height: 55px;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
	border-radius: 5px;
	background-color: #1de9b6;
	border: none;
	color: #ffffff;
	font-weight: 700;
	text-transform: uppercase;
	margin: 80px auto 0 auto;
	transition: all 0.5s ease;
}
.useful_btn:hover {
	background-color: #14c095;
}
@media (max-width: 992px) {
	.useful_btn {
		margin: 60px auto 0 auto;
	}
}
@media (max-width: 576px) {
	.useful_btn {
		margin: 40px auto 0 auto;
	}
}
@media (max-width: 320px) {
	.useful_btn {
		margin: 20px auto 0 auto;
	}
}

.progress__wrapper {
	display: flex;
	flex-wrap: wrap;
}
.progress_item {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 25%;
	height: 150px;
}
@media (max-width: 768px) {
	.progress_item {
		flex-direction: column;
		width: 50%;
	}
}
.progress_item_business {
	background-color: #80d8ff;
}
.progress_item_business i {
	color: #80d8ff;
}
.progress_item_download {
	background-color: #82b1ff;
}
.progress_item_download i {
	color: #82b1ff;
}
.progress_item_install {
	background-color: #b388ff;
}
.progress_item_install i {
	color: #b388ff;
}
.progress_item_users {
	background-color: #ea80fc;
}
.progress_item_users i {
	color: #ea80fc;
}
.progress_item_icon {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 60px;
	height: 60px;
	background-color: #ffffff;
	border-radius: 100%;
	margin-right: 25px;
}
.progress_item_icon > i {
	font-size: 30px;
}
.progress_item_text {
	color: #ffffff;
	font-size: 20px;
	font-weight: 700;
}
.services {
	padding: 100px 0;
}
@media (max-width: 992px) {
	.services {
		padding: 80px 0;
	}
}
@media (max-width: 576px) {
	.services {
		padding: 60px 0;
	}
}
@media (max-width: 320px) {
	.services {
		padding: 30px 0;
	}
}
.tabs {
	padding-top: 50px;
}
.tabs_item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	/* width: 800px; */
	height: 50px;
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	background-color: #ffffff;
	margin: 0 auto 20px auto;
	padding: 0 25px 25px 25px;
	overflow: hidden;
	cursor: pointer;
	transition: all 0.5s ease;
}
.tabs_item_active {
	height: 240px;
	cursor: default;
}
.tabs_head {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 50px;
	margin: 15px 0;
}
.tabs_head_wrap {
	display: flex;
	align-items: center;
}
.tabs_head_icon i {
	color: #061e37;
	font-size: 25px;
}
.tabs_head_title {
	color: #061e37;
	font-weight: 700;
	text-transform: uppercase;
	margin-left: 25px;
}
.tabs_head_arrow i {
	color: #061e37;
	font-size: 25px;
}
.tabs_content {
	display: flex;
}
.tabs_content_img {
	width: 35%;
	height: 155px;
	background: url(../img/tabs/tabs_1.png) no-repeat;
	border-radius: 5px;
	margin-right: 25px;
}
.tabs_content_text {
	color: #061e37;
	font-weight: 600;
	line-height: 25px;
	letter-spacing: 0.45px;
	width: 63%;
}
.comment {
	padding: 90px 0;
	background: url(../img/bg/secondbg.png) center center/cover no-repeat;
	min-height: 565px;
}
@media (max-width: 992px) {
	.comment {
		padding: 80px 0;
	}
}
@media (max-width: 576px) {
	.comment {
		padding: 60px 0;
	}
}
@media (max-width: 320px) {
	.comment {
		padding: 30px 0;
	}
}
.comment_wrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

@media (max-width: 1200px) {
	.comment_wrap {
		flex-direction: column;
	}
}
@media (max-width: 1200px) {
	.comment_main {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

.comment_item {
	display: flex;
	align-items: center;
	padding-bottom: 70px;
}
@media (max-width: 1200px) {
	.comment_item {
		flex-direction: column;
		padding-bottom: 30px;
	}
}
.comment_item:last-child {
	margin-bottom: 0;
}
.comment_title {
	color: #ffffff;
	font-size: 45px;
	font-weight: 600;
	line-height: 50px;
	padding-bottom: 20px;
	max-width: 100%;
}
@media (max-width: 1200px) {
	.comment_title {
		text-align: center;
	}
}
.comment_description {
	color: #ffffff;
	line-height: 25px;
	padding-bottom: 80px;
	max-width: 515px;
}
@media (max-width: 1200px) {
	.comment_description {
		padding-bottom: 30px;
		text-align: center;
	}
}
.comment_btn {
	width: 150px;
	height: 55px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
	border-radius: 5px;
	border: none;
	background-color: #061e37;
	color: #ffffff;
	font-weight: 700;
	text-transform: uppercase;
	transition: all 0.3s ease;
}
.comment_btn:hover {
	color: #0c3d72;
	background-color: #fff;
}
@media (max-width: 1200px) {
	.comment_btn {
		margin-bottom: 30px;
	}
}
.comment_icon {
	width: 60px;
	height: 60px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
	border-radius: 100%;
}
@media (max-width: 1200px) {
	.comment_icon {
		margin-bottom: 30px;
	}
}
@media (max-width: 1200px) {
	.comment_icon {
		margin-bottom: 30px;
	}
}
.icon_1 {
	background: url(../icons/comment/icon_man.jpg) center center/cover no-repeat;
}
.icon_2 {
	background: url(../icons/comment/icon_woman.jpg) center center/cover no-repeat;
}
.comment_text {
	max-width: 500px;
	min-height: 160px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
	border-radius: 5px;
	background-color: #ffffff;
	padding: 30px;
	margin-left: 50px;
}
@media (max-width: 992px) {
	.comment_text {
		margin-left: 0;
	}
}
@media (max-width: 576px) {
	.comment_text {
		margin-left: 0;
	}
}
@media (max-width: 320px) {
	.comment_text {
		margin-left: 0;
	}
}
.comment_name {
	color: #061e37;
	font-size: 18px;
	font-weight: 700;
	padding-bottom: 20px;
}
.comment_comment {
	color: #78909c;
	font-style: italic;
	line-height: 25px;
}
.team {
	padding: 100px 0 90px;
}
@media (max-width: 992px) {
	.team {
		padding: 80px 0;
	}
}
@media (max-width: 576px) {
	.team {
		padding: 60px 0;
	}
}
@media (max-width: 320px) {
	.team {
		padding: 30px 0;
	}
}
.team_content {
	padding-top: 100px;
}
@media (max-width: 992px) {
	.team_content {
		padding: 80px 0;
	}
}
@media (max-width: 576px) {
	.team_content {
		padding: 60px 0;
	}
}
@media (max-width: 320px) {
	.team_content {
		padding: 30px 0;
	}
}
.team_carousel {
	position: relative;
	width: 85%;
	margin: 0 auto;
}
.team_carousel_photo {
	width: 160px;
	height: 160px;
	border-radius: 100%;
	margin: 0 auto 60px auto;
}
.team_carousel_name {
	color: #061e37;
	font-size: 18px;
	font-weight: 700;
	text-align: center;
	padding-bottom: 20px;
}
.team_carousel_text {
	color: #90a4ae;
	line-height: 25px;
	text-align: center;
	padding-bottom: 30px;
	max-width: 645px;
	margin: 0 auto;
}
.team_carousel_links {
	display: flex;
	justify-content: center;
}
.team_carousel_links a {
	padding: 0 15px;
}
.team_carousel_links i {
	color: #90a4ae;
	font-size: 20px;
	text-align: center;
}
.carousel_arrow {
	position: absolute;
	top: 15%;
}
.carousel_arrow i {
	font-size: 50px;
}
.carousel_arrow_prev {
	left: 0;
}
.carousel_arrow_next {
	right: 0;
}
.contact-form {
	background-color: #fafafa;
	padding: 50px 5px 100px;
}
@media (max-width: 992px) {
	.contact-form {
		padding: 30px 5px 60px;
	}
}
@media (max-width: 767px) {
	.contact-form {
		padding: 25px 5px 45px;
	}
}
@media (max-width: 576px) {
	.contact-form {
		padding: 20px 5px 30px;
	}
}
.contact-form_description {
	color: #061e37;
	text-align: center;
}
.contact-form_content {
	display: flex;
	justify-content: center;
}
.contact-form_wrap {
	padding-top: 20px;
}
@media (max-width: 767px) {
	.contact-form_wrap {
		padding-top: 0;
	}
}
.form_input {
	width: 280px;
	height: 50px;
	border-radius: 5px;
	border: 1px solid #061e37;
	color: #061e37;
	font-weight: 500;
	padding: 0 20px;
	margin: 0 20px;
}
@media (max-width: 992px) {
	.form_input {
		margin: 10px 20px 0 0;
	}
	.form_input:last-child {
		margin-right: 0;
	}
}
@media (max-width: 767px) {
	.form_input {
		width: 100%;
		padding: 0 20px;
	}
}

.contact-form_message {
	max-width: 600px;
	width: 100%;
	height: 150px;
	border-radius: 5px;
	border: 1px solid #061e37;
	margin: 20px;
	color: #061e37;
	font-size: 14px;
	font-weight: 500;
	padding: 20px;
	resize: none;
}
@media (max-width: 992px) {
	.contact-form_message {
		margin: 10px 0;
	}
}
.contant-form_send {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 20px;
}
@media (max-width: 992px) {
	.contant-form_send {
		margin: 0;
	}
}
.contant-form_send label {
	display: flex;
	align-items: center;
	color: #061e37;
	font-weight: 500;
	max-width: 300px;
}
.contact-form_send_subs {
	width: 20px;
	height: 20px;
	border: 2px solid #061e37;
	margin-right: 10px;
	transition: all 0.3s ease;
}
@media (max-width: 576px) {
	.contact-form_send_subs {
		width: 25px;
		height: 25px;
	}
}
@media (max-width: 320px) {
	.contact-form_send_subs {
		width: 30px;
		height: 30px;
	}
}
.contact-form_send_btn {
	width: 130px;
	height: 50px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
	border-radius: 5px;
	border: none;
	background-color: #1de9b6;
	color: #ffffff;
	font-size: 16px;
	font-weight: 500;
	text-transform: uppercase;
}
.contact-form_send_btn:hover {
	background-color: #14c095;
}
footer {
	padding: 100px 0;
	background-color: #061e37;
}
@media (max-width: 992px) {
	footer {
		padding: 80px 0;
	}
}
@media (max-width: 576px) {
	footer {
		padding: 60px 0;
	}
}
@media (max-width: 320px) {
	footer {
		padding: 30px 0;
	}
}
.footer_wrap {
	display: flex;
	justify-content: space-between;
	min-height: 100px;
}
@media (max-width: 576px) {
	.footer_wrap {
		flex-direction: column;
	}
}
.footer_first {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.footer_first_submenu {
	display: flex;
	align-items: center;
}
@media (max-width: 576px) {
	.footer_first_submenu {
		margin-top: 20px;
	}
}
.footer_first_submenu a {
	opacity: 0.5;
	color: #ffffff;
}
.footer_first_submenu div {
	width: 6px;
	height: 6px;
	background-color: #ffffff;
	border-radius: 100%;
	margin: 0 20px;
}
.footer_primary {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
}
@media (max-width: 576px) {
	.footer_primary {
		margin-top: 20px;
	}
}
.footer_links a {
	margin-left: 15px;
}
.footer_links i {
	opacity: 0.2;
	color: #ffffff;
	font-size: 20px;
}
.footer_nav {
	display: none;
}
/* popup */
.popup {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.6);
	justify-content: center;
	align-items: center;
}
.popup_active {
	display: flex;
}
.popup_wrap {
	position: relative;
	padding: 50px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 0 10px 0 black;
}
.popup_done {
	padding: 50px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 0 10px 0 black;
}
.popup_done div {
	font-size: 45px;
}
.popup_close {
	position: absolute;
	top: 10px;
	right: 20px;
	font-size: 50px;
	color: grey;
	cursor: pointer;
	transition: all 0.5s ease;
}
.popup_close:hover {
	transform: rotate(180deg);
}

.popup_form {
	max-width: 645px;
}
